
<!-- Container de Boas Vindas -->
<div class="container">
  <div class="row">
    <div class="col">
      
      <div *ngIf="authService.user | async" class="alert alert-success" role="alert">
        <h4 class="alert-heading text-center"> <strong>Bem Vindo</strong> {{ (authService.user | async)?.email }}!</h4>
      </div>

    </div>
  </div>
</div>


<!-- Container Formulário -->
<div class="container">
  <div class="row">
    <div class="col">
      
      <div  *ngIf="!(authService.user | async)" class="jumbotron">
        
          <div class="form-group">
            <input class="form-control" type="text" [(ngModel)]="email" placeholder="email">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" [(ngModel)]="password" placeholder="password">
          </div>

          
          <button class="float-sm-right btn btn-primary" (click)="signup()" [disabled]="!email || !password">
            Signup
          </button>

          <button class="float-sm-right btn btn-primary" (click)="login()" [disabled]="!email || !password">
            Login
          </button>
      
      </div>

    </div>
  </div>
</div>

<!-- Container Logout -->
<div class="container">
  <div class="row">
    <div class="col">
      
      <button class="float-sm-right btn btn-primary" (click)="logout()" *ngIf="authService.user | async">
        Logout
      </button>

    </div>
  </div>
</div>