<h1 *ngIf="authService.user | async">Bem Vindo {{ (authService.user | async)?.email }}!</h1>

<div class="container">
  <div class="row">
    <div class="col">
      
      <div class="jumbotron">
        
        <div *ngIf="!(authService.user | async)">
          
          <div class="form-group">
            <input class="form-control" type="text" [(ngModel)]="email" placeholder="email">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" [(ngModel)]="password" placeholder="password">
          </div>

          
          <button class="d-inline btn btn-primary" (click)="signup()" [disabled]="!email || !password">
            Signup
          </button>

          <button class="d-inline btn btn-primary" (click)="login()" [disabled]="!email || !password">
            Login
          </button>
      

        </div>

      </div>

    </div>
  </div>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>